<!doctype html>
<html>

{% include "templates/head.html" %}

<body>
    <main class="container">
        <p><a role="button" href="/">Back to list</a></p>
        <h1>{{ display_filename }}</h1>
        <p><video controls autoplay muted playsinline src="/api/videos/{{ id }}/stream"></video></p>
        <p><a role="button" href="/api/videos/{{ id }}/download">Download video</a></p>
        <p><a role="button" href="/api/videos/{{ id }}/download-compatible">Download compatible video (H.264)</a></p>
    </main>
</body>

</html>